.modal_background {
    position: fixed;
    z-index: 6;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
}
.cartModalContent {
    padding: 100px 0px;
    width: 30%;
    height: 100%;
    background-color: var(--ThemeBackground);
    color: var(--ThemeTextColor);
    overflow-x: hidden;
    overflow-y: auto;
}
.modal_background.activeEnd {
    padding: 0px 0px 200px 0px;
    display: flex;
    justify-content: flex-end;
}
.modal_background.activeCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767.98px) {
    .cartModalContent {
        width: 100vw;
        margin-top: 10vh;
    }
}