:root {
    --green: #79C557;
    --violet: #632379;
    --white: #ffffff;
    --dark: #282828;
    --box-shadow: box-shadow: 0px 0px 20px -3px rgba(66, 68, 90, 1);
    --centered-flex: display: flex; align-items: center; justify-content: center;
    --ThemeTextColor: var(--dark);
    --ThemeBackground: var(--white);
    --ThemeTextAdditionalColor: var(--violet);
  }